# PHP
redis/php/vendor/
rabbitmq/php/vendor/

# Go
mssql/go/your-connection-deserves-a-name
mysql/go/your-connection-deserves-a-name
nats/go/your-connection-deserves-a-name
mongodb/go/your-connection-deserves-a-name
postgresql/go/your-connection-deserves-a-name
rabbitmq/go/your-connection-deserves-a-name
redis/go/your-connection-deserves-a-name
oracle/go/your-connection-deserves-a-name