# Redis: PHP
redis/php/vendor/

# Redis: Go
redis/go/your-connection-deserves-a-name

# Redis: PHP
rabbitmq/php/vendor/

# RabbitMQ: Go
rabbitmq/go/your-connection-deserves-a-name

# PostgreSQL: Go
postgresql/go/your-connection-deserves-a-name

# MySQL: Go
mysql/go/your-connection-deserves-a-name