# Very basic testing setup.
#
# For most of the code examples, we don't have unit tests.
# Thats why we are only testing classical "Can we install it".
# It is not covering everything, but basic things like
# version conflicts, typos, etc.
name: PHP Testing

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "5 1 * * *"

jobs:
  php:
    name: Install
    strategy:
      fail-fast: false
      matrix:
        dir: [
          "rabbitmq/php",
          "redis/php"
        ]
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ${{ matrix.dir }}

    steps:
      - uses: actions/checkout@v6.0.1
      - uses: shivammathur/setup-php@2.36.0
        with:
          php-version: 8.4

      - run: composer install
